<% _.each(section,function(sec){ %>
  <div class='document-wrap'>
  <h2><%=sec.topic %></h2>
  <p><%=sec.details %></p>
  <span class='author-name'>Authors:  <%=sec.author %></span>
  </div>
<% }) %>
