<header>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1 class= 'heading'>Course Taking POC </h1>
        <h4 class ='course_name'><%= courses.course_name %></h4>
      </div>
    </div>
  </div>
</header>
<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3' id ='wrap'></div>
      <div class='col-md-9' >
        <div class='course-content-wrap' id = 'course_content'></div>
      </div>
    </div>
  </div>
</section>

