<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class='wrapper'>
    <div id = "main-container"></div>
  </div>
</body>
</html>
<script type="text/javascript">
  $(function() {
    // BackboneTest is the app name
    window.router = new CourseTaking.Routers.Courses();
    Backbone.history.start();
  });
</script>
